name: CI
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches: main
    paths-ignore: '**/*.md'
  pull_request:
    branches: main
    paths-ignore: '**/*.md'
jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ ubuntu-24.04, macos-14, windows-2022 ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Log c++ --version
        run: c++ --version
      - name: Configure
        run: cmake -B build -DCMAKE_BUILD_TYPE=Debug
      - name: Build
        run: cmake --build build --parallel --config Debug
      - name: Test
        run: ctest --test-dir build/test --output-on-failure
